@model IEnumerable<TareaResponse>

@{
    ViewData["Title"] = "Index de prueba";
}

<h1>Index</h1>

<p>
    <a asp-controller="Tarea" asp-action="Create">Crear una Tarea</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdTarea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prioridad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaHoraSolicitud)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdTarea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prioridad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHoraSolicitud)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdTarea }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdTarea }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdTarea })
            </td>
        </tr>
}
    </tbody>
</table>
